<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
	<body class="container">
		<main>
			<div class="jumbotron">
				<form action="/login" method="post">
					<div>
						<label>Username:</label>
						<input type="text" name="username"/><br/>
					</div>
					<div>
						<label>Password:</label>
						<input type="password" name="password"/>
					</div>
					<div>
						<input type="submit" value="Submit"/>
					</div>
				</form>
			</div>
		</main>
		<footer>
			<% include ../partials/footer %>
		</footer>
	</body>
</html>